.team{
    background-color: #f5f5f5;
}


.fdiv{
    text-align: center;
}

.photos{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    flex-wrap: wrap;
}

.photo{
    margin-left: 40px;
    position: relative;
}



.center{
    padding-top: 20px;
    text-align: center;

}

.bdiv{
    background-color: #1a1a1a;
    text-align: center;
}

.text1{
    font-size: 18px;
    font-family: "Raleway";
    color: #929292;
    padding-top: 30px;
}

.john{
    color: #7b6c63;
    padding-top: 40px;
}

.title{
    color: white;
    padding-top: 50px;
}

.link{
    text-decoration: none;
    color: #227086;

}

.ldiv{
    padding-top: 20px;
    padding-bottom: 100px;
}

.btn{
    cursor: pointer;
}


.hover{
    position:absolute;
    display:none;
    color: white;
    background-color: black;
    width: 100%;
    height: 100%;
    top: 0;
}

.photo:hover .hover {
    display: block;
}

.all{
    display: block;
}


.icons{
    display: flex;

    justify-content: center;
    padding-top: 170px;
}

.icon{
    margin-left: 20px;
    border: 4px solid white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}